*
{
    margin: 0;
    padding: 0;
    background-color: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.box_1
{
    position: relative;
    height: 99.5vh;
    background-image: linear-gradient(rgb(2,2,2,.4),rgb(1, 2, 3,.6)),url(../Pictures/pexels-burak-the-weekender-45072.jpg);
    background-size: cover;
    background-position: center;
}
.box_1 h2
{
    font-family:fantasy;
    font-style: inherit;
    font-size: 85px;
    font-weight: 400;
    color: black;
    top: 43vh;
    padding-left: 30px;
    position: relative;
    text-align: left;
    -webkit-text-fill-color: rgb(243, 91, 3);
    -webkit-text-stroke-width: 2px;
}
.box_02
{
    position: relative;
    height: 45vh;
}
.box_02 header
{
font-size: 60px;
text-align: center;
margin-top: 13vh;
font-weight: 100;
font-family: fantasy;
color: orangered;
font-style: initial;
}
.box_02 p
{
text-align: center;
font-size: 17.4px;
margin-top: 5vh;
padding-left: 20vh;
padding-right: 20vh;
color:orangered;
font-family: serif;
line-height: 2rem;
}
.box_03
{
    position: relative;
    height: 88vh;
    border: 1px solid transparent;
    background-color: orangered;
}
.box_03 header
{
    margin-top: 10vh;
    font-family: fantasy;
    color: white;
    font-size: 60px;
    text-align: center;  
}
.box_03 p
{
    margin-top: 5vh;
    text-align: center;
    color: white;
    font-size: 17.4px;
    font-family: serif;
}
.container
{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.flex_box
{
    margin: 15px;
    height: 95vh;
}
.flex_box header
{
    position: relative;
    margin: 38px;
    text-align: center;
    font-size: 60px;
    font-family: fantasy;
    color: orangered;
}
.container_in
{
position: relative;
margin-top: 10vh;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
}
.con_img_1
{
    width: 87vh;
    height: 55vh;
    min-width: 20vh;
    background-image: url(../Pictures/windmill-netherlands-road-sea-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;
    border: 2px solid transparent;
    border-radius: 10px;
}
.con_par
{
    width: 89vh;
    font-size: 17.4px;
    color: orangered;
    font-family: serif;
    text-align: left;
    padding-top: 11vh;
    line-height: 2.3rem;
}
#con_img_2
{
    background-image: url(../Pictures/public-power-holyoke-hydropower-hydro.jpg);
}
#con_img_3
{
    background-image: url(../Pictures/pexels-pixabay-159160.jpg);
}
#con_img_4
{
    background-image: url(../Pictures/tidal-waves-sea-wind-water-wallpaper-preview.jpg);
}
#con_img_5
{
    background-image: url(../Pictures/1667816321_pUITSU_7162002.jpg);
}
#con_img_6
{
    background-image: url(../Pictures/power-plant-geothermal-geothermal-energy-geo-thermal-power-plant.jpg);
}
footer
{
    margin: 0;
    position: relative;
    padding: 15px;
    height: 14vh;
    text-align: right;
    font-size: 14.5px;
    color: white;
    font-family: fantasy;
    background-color: orangered;
}
